*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Cardo', serif;
}
header {
    display: flex;
    justify-content: start;
    align-items: center;    
    padding: 15px 30px;
    gap: 300px;
    nav {
        display: flex;
        gap: 30px;
        a {
            text-decoration: none;
            font-size: 16px;
            color: black;
            font-family: 'Cardo', serif;
        }
    }
}

section {
    padding: 80px 50px;
}

.hero {
    background-image: url('./images/IMAGE\ \(61\).png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 150px;
    color: white;
    h1 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-bottom: 30px;
    }
    button {
        border: none;
        background: transparent;
        font-family: 'Cardo', serif;
        border: 2px solid white;
        padding: 10px 50px;
        color: white;
        font-size: 19px;
    }
}


.hero-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: white;
    padding: 50px 50px;
    .d-bottom {
        display: flex;
        gap: 15px;
        align-items: center;
    }
}

.images {
    display: flex;
    img {
        width: 316px;
        height: auto;
    }
}


.cloe {
    padding: 80px 50px;
    font-family: 'Cardo', serif;
    .katta-cloe {
        display: flex;
        gap: 60px;
        align-items: center;
        text-align: right;
        font-family: 'Cardo', serif;
        .new-p {
            color: rgba(188, 20, 20, 1);
            padding-bottom: 10px;
        }   
        img {
            width: 700px;
            height: auto;
        }
        h2 {
            font-family: 'Roboto', serif;
            padding-bottom: 20px;
            font-size: 35px;
        }
        .cloe-p {
            padding-bottom: 20px;
            font-style: italic;
            font-size: 20px;
        }
        .shop {
            color: black;
            font-size: 18px;
            font-family: 'Cardo', 'serif';
        }
    }



    .katta-pelican {
        display: flex;
        gap: 60px;
        margin-top: 20px;
        align-items: center;
        text-align: left;
        font-family: 'Cardo', serif;
        h2 {
            font-family: 'Roboto', serif;
            padding-bottom: 20px;
            font-size: 35px;
        }
        img {
            width: 700px;
            height: auto;
        }
        h2 {
            font-family: 'Roboto', serif;
            padding-bottom: 20px;
            font-size: 35px;
        }
        .cloe-p {
            padding-bottom: 20px;
            font-style: italic;
            font-size: 20px;
        }
        .shop {
            color: black;
            font-size: 18px;
            font-family: 'Cardo', 'serif';
        }
    }
}





.picces {
    padding: 80px 50px;
    font-family: 'Cardo', 'serif';
    text-align: center;
    .picces-h2 {
        font-size: 37px;
        font-family: sans-serif;
        padding-bottom: 10px;
    }
    .picces-p {
        color: rgba(0, 0, 0, 1);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }



    .photos {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        img {
            width: 550px;
        }
    }


    .messege {
        text-align: center;
        font-style: italic;
        padding-top: 130px;
        font-size: 18px;
    }
    .subject {
        padding-top: 40px;
        font-size: 18px;
    }


    .skip {
        display: flex;
        gap: 5px;
        justify-content: center;
        .round {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: black;
            margin-top: 30px;
            cursor: pointer;
        }
    }
}



.map {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    .map-div {
        width: 290px;
        height: 290px;
        img {
            width: 70px;
            margin-bottom: 20px;
        }
        h2 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding-bottom: 10px;
        }
        p {
            line-height: 22px;
            padding-bottom: 20px;
        }
        a {
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}



.bottom-div {
    text-align: center;
    padding: 30px;
    p {
        padding-bottom: 30px;
        font-size: 20px;
    }
    img {
        width: 100%;
    }
}



footer {
    background-color: #e2e2e2;
    padding: 50px 80px;
    .flex-div {
        display: flex;
        gap: 190px;
        flex-direction: row;
        justify-content: center;
        h4 {
            font-weight: 700;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 24px;
            padding-bottom: 10px;
        }
        .column {
            text-align: center;
            line-height: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .dr-b {
        display: flex;
        gap: 100px;
        justify-content: center;
        margin-top: 30px;
        border-top: 1px solid black;
        padding-top: 30px;
    }
    .made {
        text-align: center;
        font-size: 20px;
        padding-top: 30px;
    }
}